body{
    font-size: 16px;
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
    min-width: 200px;
}

.leaflet-popup h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    color:#155c94;
}

.leaflet-popup h4:last-of-type{
    margin-top: 5px;
}
.leaflet-popup-content p {
    margin: 0;
    text-align: center;
}
.leaflet-popup img{
    max-width: 150px;
    margin: 0 auto;
    padding: 0;
}

.leaflet-control[type="button"]{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color:#155c94;
    font-weight: 700;
}

.leaflet-control[type="button"]:hover{
    background: #155c94;
    color:white;
}